extends layout.pug

block content
    
    include errors

    head
        title New Book

    body
        h1 New Book
        
        form(action="/books/new/", method="post")
            include form
            p
                input(type = "submit", value = "Create New Book")
            p
                a(class='button' href='/books') Cancel

