extends layout.pug

block content

    head
        title PAGE NOT FOUND

    body
        h1 PAGE NOT FOUND!
        p Sorry! We couldn't find the page you were looking for.
        br
        p
            a(class='button' href='/books') HOME
